p {
	
	color:White;
	margin:5px;
	border:10px;
	padding:15px;
}

body {
	
	text-transform:cursive;
	font-family:'Times New Roman';
}

h1 {
	font-weight:bold;
	text-align:center;
}

.red {
	color:red;
}
.background {
	background-color:Black;
}
#important {
	font-family:Georgia;
	color:teal;
	padding:15px;
	border:10px;
	border-bottom-color:red;
	margin:8px;
}

.image {
	<body-background>
}


